<%

function roundp(number, from) {
    const p = ( number / from * 100).toFixed(1);
    const splitted = (p + "").split('.');
    const fst = parseInt(splitted[0]);
    const scnd = parseInt(splitted[1]);
    return scnd === 0 ? fst : p;
}

function roundpw(number, from) {
    return Math.round( number / from * 100);
}

%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mindsales: Отчёт</title>
    <meta property="og:title" content="<%= account %>: отчёт по клиентам"/>
    <meta property="og:description" content="c <%= period.start %> по <%= period.end %>"/>
    <meta property="og:image" content="http://mindsales-crm.com/assets/images/report-splash.png">
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://mindsales-crm.com/rprt/<%= id %>"/>
    <link rel="stylesheet" href="/assets/css/awsm.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans%7CPT+Serif:400,400i,700,700i&amp;subset=cyrillic"
          rel="stylesheet">
    <style>
        nav > ul > li { font-size: 1rem; }
    </style>
</head>
<body>
<header style="max-width: 55rem;margin-bottom: 1em;">
    <h1><%= account %>. Отчёт по клиентам</h1>
    <p>Обращения клиентов с <i><%= period.start %></i> по <i><%= period.end %></i></p>

    <nav>
        <ul>
            <li><a href="#funnel">Общий отчёт</a></li>
            <li><a href="#managers">О менеджерах</a></li>
            <li><a href="#target">Целевые и нецелевые клиенты</a></li>
            <li><a href="#adsources">Эффективность источников</a></li>
            <li><a href="#portrait">Портрет клиента</a></li>
        </ul>
    </nav>
</header>

<main style="max-width: 55rem; padding-bottom: 2em;">
    <article style="max-width: 55rem;">
        <%- include funnel.ejs %>

        <%- include managers.ejs %>

        <%- include target.ejs %>

        <%- include numbers.ejs %>

        <%- include portrait.ejs %>
    </article>
</main>

</body>
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter40269234 = new Ya.Metrika({
                    id: 40269234,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true,
                    webvisor: true,
                    trackHash: true
                });
            } catch (e) {
            }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () {
                n.parentNode.insertBefore(s, n);
            };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/40269234" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
</html>