<%

function roundp(number, from) {
    const p = ( number / from * 100).toFixed(1);
    const splitted = (p + "").split('.');
    const fst = parseInt( splitted[0] );
    const scnd = parseInt( splitted[1] );
    return scnd === 0 ? fst : p;
}

%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mindsales: Отчёт</title>
    <meta property="og:title" content="<%= account %>: отчёт по клиентам"/>
    <meta property="og:description" content="c <%= period.start %> по <%= period.end %>"/>
    <meta property="og:image" content="http://mindsales-crm.com/assets/images/report-splash.png">
    <meta property="og:type" content="article"/>
    <meta property="og:url" content= "http://mindsales-crm.com/rprt/<%= id %>" />
    <link rel="stylesheet" href="/assets/css/awsm.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans%7CPT+Serif:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">
</head>
<body>

<header style="max-width: 60rem;">
    <h1><%= account %>. Отчёт по клиентам</h1>
    <p>Обращения клиентов с <i><%= period.start %></i> по <i><%= period.end %></i></p>

    <!--    hidden      -->
    <nav style="display:none">
        <ul>
            <li><a href="index.html">Overview</a></li>
            <li>Elements</li>
        </ul>
    </nav>
</header>

<main style="max-width: 60rem;padding-bottom: 2em;">
    <article style="max-width: 60rem;">
        <h1>Общий отчёт</h1>
        <p>Воронка клиентов:</p>
        <ul>
            <li>Всего обращений: <b><%= all_customers.length %></b></li>
            <li>Клиенты, которым никто не ответил: <b><%= missing.length %></b></li>
            <li>Клиенты, у которых не заполнен профиль: <b><%= no_profile_fix || no_profile.length %></b></li>
            <hr style="margin: .5em 0;">
            <li>Обработанные клиенты: <b><%= with_profile.length %></b></li>
        </ul>

        <section>
            <h2>
                <a id="managers" href="#managers" aria-hidden="true"></a>
                Отчёт по менеджерам
            </h2>
            <p>Менеджеры, которым нужно заполнить профили своих клиентов:</p>
            <ul>
                <% _.mapKeys(managers_no_profile, (value, key) => { %>
                    <li><%= key %>: <b><%= value %></b></li>
                <% }); %>
            </ul>
        </section>

        <section>
            <h2>
                <a id="target" href="#target" aria-hidden="true"></a>
                Целевые и нецелевые клиенты
            </h2>
            <p>Клиенты с заполненными профилями и распределённые на целевых и не целевых:</p>
            <ul>
                <li>Целевых: <b><%= target.length %></b></li>
                <li>Нецелевых: <b><%= no_target.length %></b></li>
            </ul>
        </section>

        <section>
            <h2>
                <a id="adsources" href="#adsources" aria-hidden="true"></a>
                Эффективность рекламных источников
            </h2>
            <p>Эффективные источники (% целевых клиентов):</p>
            <ul>
                <% numbers_good.forEach(number => { %>
                <li><%= number.name %>: <b><%= roundp(number.count, all_customers.length) %>%</b></li>
                <% }); %>
            </ul>

            <p>Неэффективные источники (% нецелевых клиентов):</p>
            <ul>
                <% numbers_bad.forEach(number => { %>
                <li><%= number.name %>: <b><%= roundp(number.count, all_customers.length) %>%</b></li>
                <% }); %>
            </ul>
        </section>

        <section>
            <h2>
                <a id="portrait" href="#portrait" aria-hidden="true"></a>
                Портрет клиента
            </h2>
            <p>Посчёт % клиентов по данным из профилей</p>

            <% portrait.forEach(field => { %>
            <h4><%= field.field %></h4>
            <p>
                Клиентов у которых заполнен этот параметр:  <b><%= field.count %></b>
                <br/><small>
                    Это <b><%= roundp(field.count, target.length) %>%</b> от общего количества целевых клиентов. Из них:
                </small>
            </p>

            <ul>
                <% field.values.forEach(value => { %>
                <li><%= value.name %>: <b><%= roundp(value.count, field.count) %>%</b></li>
                <% }); %>
            </ul>
            <hr style="margin: .5em 0;">
            <% }); %>
        </section>

</main>

</body>
</html>