<%

function roundp(number, from) {
    const p = ( number / from * 100).toFixed(1);
    const splitted = (p + "").split('.');
    const fst = parseInt( splitted[0] );
    const scnd = parseInt( splitted[1] );
    return scnd === 0 ? fst : p;
}

%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mindsales: Отчёт</title>
    <meta property="og:title" content="<%= account %>: отчёт по клиентам"/>
    <meta property="og:description" content="c <%= period.start %> по <%= period.end %>"/>
    <meta property="og:image" content="http://mindsales-crm.com/assets/images/report-splash.png">
    <meta property="og:type" content="article"/>
    <meta property="og:url" content= "http://mindsales-crm.com/rprt/<%= id %>" />
    <link rel="stylesheet" href="/assets/css/awsm.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans%7CPT+Serif:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">
</head>
<body>

<header style="max-width: 60rem;">
    <h1><%= account %>. Отчёт по клиентам</h1>
    <p>Обращения клиентов с <i><%= period.start %></i> по <i><%= period.end %></i></p>

    <!--    hidden      -->
    <nav style="display:none">
        <ul>
            <li><a href="index.html">Overview</a></li>
            <li>Elements</li>
        </ul>
    </nav>
</header>

<main style="max-width: 60rem; padding-bottom: 2em;">
    <article style="max-width: 60rem;">
        <%- include funnel.ejs %>

        <%- include managers.ejs %>

        <%- include target.ejs %>

        <%- include numbers.ejs %>

        <%- include portrait.ejs %>
    </article>
</main>

</body>
</html>