<%
    function cp(number, from) {
        const p = (number/from*100).toFixed(1);
        const splitted = (p + "").split('.');
        const fst = parseInt( splitted[0] );
        const scnd = parseInt( splitted[1] );
        return scnd === 0 ? fst : p;
    }
%>

<!DOCTYPE html>
<html>
<head>
    <title>Mindsales CRM</title>
    <meta name="description" content="Статистика по нецелевым с рекламных источников" />

    <meta property="og:title" content="<%= customer %>: статистика по нецелевым с рекламных источников"/>
    <meta property="og:description" content="c <%= range.start %> по <%= range.end %>"/>
    <meta property="og:image" content="http://mindsales-crm.com/assets/images/report-splash.png">
    <meta property="og:type" content="article"/>
    <meta property="og:url" content= "http://mindsales-crm.com/report/<%= reportID %>/badnumbers" />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <link rel="stylesheet" href="/assets/css/report-tables.css">
    <!-- amCharts javascript sources -->
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/pie.js"></script>

    <style>
        body {
            padding: 0; margin: 0;
            font-family:"Helvetica Neue",Helvetica,Verdana,sans-serif;
            background: #E7E6E1;
        }
        a[title="JavaScript charts"] {
            display: none !important;
        }

        .ml {
            display: inline-block;
            padding: 1rem 2rem;
            border: 1px;
            font-size: 1.2rem;
            color: #fff;
        }

        .ml-active {
            color: #FFAD01;
        }

        .nl {
            display: inline-block;
            padding: 2rem 1rem;
            font-size: 1rem;
            color: #fff;
        }

        .nl-active {
            color: #FFAD01;
        }

        .tw {
            margin: 0 auto;
            width: 70%;
        }

        @media
        only screen and
        (max-width: 760px){
            .tw {
                width: 100%;
            }
        }

    </style>

    <script type="text/javascript">
        AmCharts.makeChart("chartdiv",
            {
                "type": "pie",
                "balloonText": "[[title]]",
                "marginBottom": 5,
                "titleField": "name",
                "valueField": "count",
                "fontSize": 14,
                "theme": "default",
                "allLabels": [],
                "balloon": {},
                "legend": {
                    "enabled": true,
                    "align": "center",
                    "labelWidth": 0,
                    "markerType": "circle",
                    "maxColumns": -1,
                    "rollOverGraphAlpha": 0.13
                },
                "titles": [],
                "dataProvider": <%- JSON.stringify(numbers) %>
            }
        );
    </script>

</head>
<body>

<div style="text-align: center;background: #000;">
    <a href="/report/<%= reportID %>" class="ml">Общий отчёт</a>
    <a href="/report/<%= reportID %>/managers" class="ml">Отдел продаж</a>
    <a class="ml ml-active">Маркетинг</a>
</div>

<div style="text-align: center;background: #000;">
    <a class="nl nl-active">Нецелевой траффик</a>
    <a href="/report/<%= reportID %>/numbers" class="nl">Детализация по источникам</a>
</div>

<div style="height: 1rem;"></div>

<div style="text-align: center;">
    <h1>Cтатистика по нецелевым лидам с рекламных источников</h1>
    <h2>c <%= range.start %> по <%= range.end %></h2>
    <p style="padding-top: 2rem; font-size: 1.5rem;">
        Всего нецелевых лидов <strong><%= count %></strong>
    </p>
</div>

<!--hidden chart-->
<div id="chartdiv" style="width: 100%; height: 500px; background-color: #eee; display: none" ></div>
<div style="height: 2rem;display: none"></div>


<div class="tw">
    <table>
        <thead>
        <tr>
            <th>Источник</th>
            <th>Нецелевых лидов</th>
            <th>% от всех нецелевых</th>
        </tr>
        </thead>
        <tbody>

        <% numbers.forEach( function (number, index) { %>
        <tr>
            <td data-label="Источник"><%= number.name %></td>
            <td data-label="Нецелевых"><%= number.count %></td>
            <td data-label="% от нецелевых"><%= cp(number.count, count) %>%</td>
        </tr>
        <% }); %>

        </tbody>
    </table>
</div>

<div style="height: 2rem;"></div>
</body>
</html>