<!DOCTYPE html>
<html>
<head>
    <title>Mindsales CRM</title>
    <meta name="description" content="Портрет клиента" />

    <meta property="og:title" content="<%= customer %>: портрет клиента"/>
    <meta property="og:description" content="c <%= range.start %> по <%= range.end %>"/>
    <meta property="og:image" content="http://mindsales-crm.com/assets/images/report-splash.png">
    <meta property="og:type" content="article"/>
    <meta property="og:url" content= "http://mindsales-crm.com/report/<%= reportID %>/fields" />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <link rel="stylesheet" href="/assets/css/report-tables.css">
    <style>
        body {
            padding: 0; margin: 0;
            font-family:"Helvetica Neue",Helvetica,Verdana,sans-serif;
            background: #E7E6E1;
        }

        .ml {
            display: inline-block;
            padding: 1rem 2rem;
            border: 1px;
            font-size: 1.2rem;
            color: #fff;
        }

        .ml-active {
            color: #FFAD01;
        }

        .nl {
            display: inline-block;
            padding: 2rem 1rem;
            font-size: 1rem;
            color: #fff;
        }

        .nl-active {
            color: #FFAD01;
        }


        .tw {
            margin: 0 auto;
            width: 70%;
        }

        @media
        only screen and
        (max-width: 760px){
            .tw {
                width: 100%;
            }
        }
    </style>

</head>
<body>

<div style="text-align: center;background: #000;">
    <a href="/report/<%= reportID %>" class="ml">Общий отчёт</a>
    <a class="ml ml-active">Отдел продаж</a>
    <a href="/report/<%= reportID %>/bad-numbers" class="ml">Маркетинг</a>
</div>

<div style="text-align: center;background: #000;">
    <a href="/report/<%= reportID %>/managers" class="nl">Менеджеры</a>
    <a class="nl nl-active">Портрет клиента</a>
</div>

<div style="height: 1rem;"></div>

<div style="text-align: center;">
    <h1>Портрет клиента</h1>
    <h2>c <%= range.start %> по <%= range.end %></h2>
</div>

<div style="height: 1.5rem;"></div>


<% fields.forEach( function (field, index) { %>
    <div style="text-align: center;">
        <h3><%= field.name %></h3>
    </div>


    <div class="tw">
        <table>
            <thead>
            <tr>
                <th>Значение из карточки</th>
                <th>Кол-во лидов</th>
                <th>% от всех лидов</th>
            </tr>
            </thead>
            <tbody>

            <% field.values.forEach( function (value, index) { %>
            <tr>
                <td data-label="Значение"><%= value.value %></td>
                <td data-label="Лидов"><%= value.count %></td>
                <td data-label="% от всех"><%= value.percents %>%</td>
            </tr>
            <% }); %>

            </tbody>
        </table>
    </div>

    <div style="height: 2rem;"></div>
<% }); %>
</body>
</html>