<section>
    <h2>
        <a id="portrait" href="#portrait" aria-hidden="true"></a>
        Портрет клиента
    </h2>
    <p>Информация по данным клиентов из профилей.</p>

    <% portrait.forEach(field => { %>
    <h5 style="text-transform: uppercase;"><%= field.field %></h5>

    <% if (field.values) { %>
        <ul>
            <% field.values.forEach(value => { %>
                <li><%= value.name %> — <b><%= roundp(value.count, field.count) %>%</b></li>
            <% }); %>
        </ul>

    <% const $perc = roundpw(field.count, target.length); %>

    <p style="padding-top: 1rem;"><small>
            <% if ( $perc <= 50 ) { %>
            Менеджеры заполнили этот параметр только у <b><%= $perc %>%</b> клиентов.
            <% } %>

            <% if ( $perc > 50 && $perc < 100) { %>
            Менеджеры заполнили этот параметр только у <b><%= $perc %>%</b> клиентов.
            <% } %>

            <% if ( $perc >= 100 ) { %>
            Менеджеры заполнили этот параметр у всех клиентов.
            <% } %>
        </small></p>

    <% } else { %>
        <p><small>
                Менеджеры не заполнили этот параметр ни у одного клиента.
                <span style="display: none">
                    За отчётный период нет клиентов у которых заполнен этот параметр в профиле.
                </span>
        </small></p>
    <% } %>

    <hr style="margin: .5em 0;">
    <% }); %>
</section>