<%
var subtitle = `c ${ moment(range.start).format('D MMM') } по ${ moment(range.end).format('D MMM') }`;

function getTitle() {
    switch ( interval ) {
        case 'weeks':
            return 'Недели';
        case 'months':
            return 'Месяцы';
        default:
            return 'Дни';
    }
}
%>
<!doctype html>
<html>
<head>
    <%- include ../common/page-title.ejs %>
    <style>
        .submenu {
            padding: .5rem 0;
            margin: 0 auto;
            width: 70%;
            max-width: 960px;
        }

        .chartHeader {
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            padding-bottom: 1rem;
        }
    </style>
</head>
<body>
    <%- include ../common/main-menu.ejs %>
    <div class="content">

        <%- include ./submenu.ejs %>

        <div class="title">
            <h1>Эффективность рекламных источников</h1>
        </div>

        <%- include set-interval.ejs %>

        <div class="submenu">
            <a class="subItem subItem-active LeadsChartType" chart-type="pie">
                За весь период
            </a>
            <a class="subItem LeadsChartType" chart-type="bar">
                По интервалам
            </a>
        </div>

        <div class="form-section hide">
            <div id="chart" style="height: 500px;"></div>
        </div>

        <div class="form-section">
            <h4 class="chartHeader">Эффективность рекламных источников <%= subtitle %></h4>
            <div id="tchart" style="height: 500px;"></div>
        </div>
    </div>
</body>
<link href="assets/charts/c3.css" rel="stylesheet">
<script type="text/javascript" src="assets/charts/d3.js"></script>
<script type="text/javascript" src="assets/charts/c3.js"></script>
<script>
(function($) {

    var chart = c3.generate({
        bindto: '#tchart',
        data: {
            columns: <%- JSON.stringify(data.columns) %>,
            type: 'pie'
        },
        bar: { width: { ratio: 0.4 } },
        axis: {
            x: {
                label: '<%= getTitle() %>',
                type: 'category',
                categories: <%- JSON.stringify(data.categories) %>
            },
            y: {
                label: {
                    text: 'Количество звонков',
                    position: 'outer-middle',
                },
                tick: {
                    centered: true,
                    format: function (d) {
                        return (parseInt(d) == d) ? d : null;
                    }
                }
            }
        }
    });


    function onChartTypeChange() {
        if ( $(this).hasClass('subItem-active') ) return;
        const chartType = $(this).attr('chart-type');
        chart.transform(chartType);
        $(".LeadsChartType").removeClass('subItem-active');
        $(this).addClass('subItem-active');
    }

    $(".LeadsChartType").click( onChartTypeChange );

})(jQuery);
</script>
<style>
    .tick { font-size: 12px; }
</style>
</html>