<%

var subtitle = `c ${ moment(range.start).format('D MMM') } по ${ moment(range.end).format('D MMM') }`;

function getTitle() {
    switch ( interval ) {
        case 'weeks':
            return 'Недели';
        case 'months':
            return 'Месяцы';
        default:
            return 'Дни';
    }
}
%>
<!doctype html>
<html>
<head>
    <%- include ../common/page-title.ejs %>
    <style>
        .submenu {
            padding: .5rem 0;
            margin: 0 auto;
            width: 70%;
            max-width: 960px;
        }
    </style>
</head>
<body>
    <%- include ../common/main-menu.ejs %>
    <div class="content">

        <%- include ./submenu.ejs %>

        <div class="title">
            <h1>Входящие и пропущенные</h1>
        </div>

        <%- include set-interval.ejs %>

        <%- include calls-submenu.ejs %>

        <div class="form-section">
            <div id="chart" style="height: 500px;"></div>
        </div>
    </div>
</body>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback( drawChart );

    function drawChart() {
        var data = google.visualization.arrayToDataTable(<%- JSON.stringify(data) %>);

        var options = {
            title: 'Соотношение входящих звонков к пропущенным <%= subtitle %>',
            hAxis: {
                title: 'Количество звонков',
                minValue: 0,
            },
            vAxis: {
                title: '<%= getTitle() %>'
            },
            bars: 'vertical',
            colors: ["#5cb85c", "#d9534f"]
        };

        var material = new google.visualization.ColumnChart( document.getElementById('chart') );
        material.draw(data, options);
    }
</script>

</html>