<%

var subtitle = `c ${ moment(range.start).format('D MMM') } по ${ moment(range.end).format('D MMM') }`;

function getTitle() {
    switch ( interval ) {
        case 'weeks':
            return 'Недели';
        case 'months':
            return 'Месяцы';
        default:
            return 'Дни';
    }
}
%>
<!doctype html>
<html>
<head>
    <%- include ../common/page-title.ejs %>
    <style>
        .submenu {
            padding: .5rem 0;
            margin: 0 auto;
            width: 70%;
            max-width: 960px;
        }
    </style>
</head>
<body>
    <%- include ../common/main-menu.ejs %>
    <div class="content">

        <%- include ./submenu.ejs %>

        <div class="title">
            <h1>Входящие и пропущенные</h1>
        </div>

        <%- include set-interval.ejs %>

        <%- include calls-submenu.ejs %>

        <div class="form-section">
            <div id="chart" style="height: 500px;"></div>
        </div>
    </div>
</body>
<link href="assets/charts/c3.css" rel="stylesheet">
<script type="text/javascript" src="assets/charts/d3.js"></script>
<script type="text/javascript" src="assets/charts/c3.js"></script>
<script>
    (function($) {


        const chartCfg = {
            bindto: '#chart',
            data: {
                columns: [ ["Все звонки (10)",5,5], ["Пропущенные (2)",1,1] ],
                type: 'bar'
            },
            legend: { position: "bottom" },
            bar: { width: { ratio: 0.4 } },
            axis: {
                x: {
                    label: '<%= getTitle() %>',
                    type: 'category',
                    categories: ["01 сент.\r\nчт","02 сент.\r\nпт"]
                },
                y: {
                    label: {
                        text: 'Количество звонков',
                        position: 'outer-middle',
                    },
                    tick: {
                        centered: true,
                        format: function (d) {
                            return (parseInt(d) == d) ? d : null;
                        }
                    }
                }
            }
        };

        var chart = c3.generate(chartCfg);
    })(jQuery);
</script>
<style>
    .tick { font-size: 12px; }
</style>
</html>