<!doctype html>
<html>
<head>
    <%- include ../common/page-title.ejs %>
    <style>
        .submenu {
            padding: .5rem 0;
            margin: 0 auto;
            width: 70%;
            max-width: 960px;
        }

        .l-filter {
            display: inline-block;
            border-bottom: 1px solid dashed;
            margin-left: 2px;
            margin-right: 8px;
        }

        .f-active {
            opacity: .5;
            text-decoration: none;
        }

        .f-delimeter {
            display: inline-block;
            color: #ccc;
            margin: 0 4px;
            margin-right: 8px;
        }
    </style>
</head>
<body>
    <%- include ../common/main-menu.ejs %>
    <div class="content">

        <%- include ./submenu.ejs %>

        <div class="title"><h1>Пропущенные звонки</h1></div>

        <%- include set-period.ejs %>

        <%- include calls-submenu.ejs %>

        <div class="form-section">
            <div id="piechart" style="height: 500px;"></div>
        </div>
    </div>
</body>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

        var data = google.visualization.arrayToDataTable(<%- JSON.stringify(data) %>);
        <% if ( currentWeek ) { %>
        var options = {
            title: 'Пропущенные звонки за текущую неделю'
        };
        <% } else { %>
        var options = {
            title: 'Пропущенные звонки c <%= moment(range.start).format('D MMM') %> по <%= moment(range.end).format('D MMM') %>'
        };
        <% } %>

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }
</script>
</html>