<%

function dF( date ) {
    var d = new Date(date);
    var m = "" + (d.getMonth() + 1);
    m.length === 1 && ( m = '0' + m );
    return d.getDate() + '.' + m + '.' + d.getFullYear();
}

%>

<div class="form-section">
    <h3>Период и интервал</h3>
    <form class="form" id="periodForm">
        <div class="row">
            <div class="col col-4">
                <div class="form-item">
                    <label>
                        Дата начала
                        <span class="desc">периода</span>
                    </label>
                    <input type="text" class="datepicker-here" id="periodStart" name="start" value="<%= dF(range.start) %>"/>
                </div>
            </div>
            <div class="col col-4">
                <div class="form-item">
                    <label>Дата конца</label>
                    <input type="text" class="datepicker-here" id="periodEnd" name="end" value="<%= dF(range.end) %>">
                </div>
            </div>
            <div class="col col-2">
                <div class="form-item">
                    <label>Интервал</label>
                    <select class="select" name="interval">
                        <option value="days" <%= interval === 'days' && 'selected' %> >Дни</option>
                        <option value="weeks" <%= interval === 'weeks' && 'selected' %> >Недели</option>
                        <option value="months" <%= interval === 'months' && 'selected' %> >Месяцы</option>
                    </select>
                </div>
            </div>
            <div class="col col-1">
                <div class="form-item">
                    <label style="visibility: hidden">Action</label>
                    <button type="button" id="setPeriod" class="button primary">
                        Показать
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    (function($) {
        $("#setPeriod").on('click', setPeriod);

        function setPeriod() {
            const period = readForm('periodForm');

            if ( period && period.start && period.end ) {
                location.href = `${ location.pathname }?start=${ period.start }&end=${ period.end }&interval=${ period.interval }`;
            }
        }
    })(jQuery);
</script>