<%

function trim(val) {
    return ( val.replace( '\r', '' ) ).replace( '\n', '' )
}

%>
<!doctype html>
<html>
<head>
    <%- include ../common/page-title.ejs %>
    <link href="assets/css/jqui.css" rel="stylesheet">
    <script src="assets/js/jq.js"></script>
    <script src="assets/js/jqui.js"></script>
</head>
<body>
    <%- include ../common/main-menu.ejs %>
    <div class="content">
        <div class="title">
            <h1>Нецелевое обращение</h1>
        </div>

        <div id="service-info" class="hide">{"_id":"<%= (contact && contact._id) || 'new' %>","backURL":"<%= backURL %>"}</div>

        <div class="form-section">
            <form class="form" id="contactDetails">
                <div class="form-item">
                    <label>Имя и фамилия</label>
                    <input type="text" name="name" class="big" value="<%= contact && contact.name %>">
                    <div class="desc">Как зовут клиента?</div>
                </div>

                <div class="form-item">
                    <label>Цель обращения</label>
                    <select class="select" name="noTargetReason">
                        <option value=""></option>
                    <% contact.account.noTargetReasons.forEach( function (reason, index) { %>
                        <option
                            value="<%= trim(reason) %>"
                           <% if ( contact.noTargetReason && trim(contact.noTargetReason) === trim(reason) ) { %>
                            selected
                           <% } %>
                        >
                            <%= reason %>
                        </option>
                    <% }); %>
                    </select>
                    <div class="desc">Зачем клиент обращался?</div>
                </div>

                <div class="form-item">
                    <label>Заметки</label>
                    <textarea cols="5" rows="5" name="notes"><%= contact && contact.notes %></textarea>
                </div>

                <input type="hidden" name="phone"
                       value="<%= contact && contact.phone %>"/>

            </form>
        </div>

        <div class="form-section">
            <a href="<%= backURL %>" role="button" class="button" style="margin-right: 1.5rem">
                Вернуться назад
            </a>

            <button type="button" class="button primary" id="save">
                Сохранить изменения
            </button>
        </div>
    </div>
</body>
<script src="assets/js/utils.js"></script>
<script src="assets/js/contact-update.js"></script>
</html>