<%

 function trim(val) {
     return (val.replace('\r', '')).replace('\n', '')
 }

%>
<% if (field.list.length <= 10) { %>
    <select class="select" name="<%= field.id %>">
        <option value=""></option>
        <% field.list.forEach( function (item, index) { %>
            <option
                value="<%= trim(item) %>"
                <% if (contact && contact[field.id] && trim(contact[field.id]) === trim(item)) { %>
                selected
                <% } %>
            >
                <%= item %>
            </option>
            <span><%= contact[field.id] && trim(contact[field.id]) %></span>
        <% }); %>
    </select>

<% } else { %>

    <input type="text"
           class="search"
           id="field_<%= field.id %>"
           name="<%= field.id %>"
           value="<%= contact && contact[field.id] %>"/>
    <script>
        $( function() {
            $( "#field_<%= field.id %>" ).autocomplete({
                source: <%- JSON.stringify(field.list) %>
            });
        });
    </script>

<% } %>