<%
    function isMyNewContactCall( call ) {
        return !call.contact.name &&
               ( !call.contact.user ||
                 call.contact.user._id.toString() === user._id.toString()
               );
    }
%>
<div class="call cbox">
    <div class="unrow">
        <div class="uncol">
            <div>
                <div class="call__title">
                    <% if ( !call.contact.name) { %>
                        Новый контакт
                    <% } else { %>
                        <%= call.contact.name %>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="uncol" style="vertical-align: middle; text-align: right;">
            <% if ( user.type === 'admin' ) { %>
                <a href="contacts/<%= call.contact._id %>?backURL=/"
                   class="button primary small" role="button">Смотреть профиль</a>
            <% } else { %>
                <% if ( isMyNewContactCall(call) ) { %>
                    <a href="contacts/edit/<%= call.contact._id %>?backURL=/"
                       class="button primary small" role="button">Заполнить профиль</a>
                <% } else { %>
                    <a href="contacts/<%= call.contact._id %>?backURL=/"
                       class="button primary small" role="button">Смотреть профиль</a>
                <% } %>
            <% } %>
        </div>
    </div>

    <% if ( call.recordFile ) { %>
    <div class="unrow" style="margin: 1rem 0;">
        <!--<audio controls="" style="width: 100%">-->
            <!--<source src="http://185.22.67.22<%= call.recordFile %>" type="audio/mpeg">-->
        <!--</audio>-->
        <a href="http://185.22.67.22<%= call.recordFile %>" class="jouele" data-hide-timeline-on-pause="true">
           Звонок от <%= call.display.phone %>. Ответил(а) <%= call.contact.user && call.contact.user.name %>
        </a>
    </div>
    <% } %>

    <% if (!call.recordFile) { %>
        <div class="unrow missed-call">
            Без ответа. Клиент ждал(а) <%= call.display.waiting %>
        </div>
    <% } %>

    <% if ( user.type === 'admin' ) { %>
    <div class="unrow" style="padding: .5rem .7rem; border-radius: 4px; font-size: .85rem; background: #eee; margin-bottom: .5rem;">
        <%= call.account.name %>
    </div>
    <% } %>

    <div class="row between" style="text-align: center;font-size: 13px;">
        <div class="col col-3" style="text-align: left;opacity: .7;">
            <%= call.display.date %>
        </div>
        <div class="col col-3" style="text-align: right;">
            <%= call.number.name %>
        </div>
        <div class="col col-3" style="text-align: left;opacity: .7;">
            <%= call.display.date %>
        </div>
    </div>
</div>