<!doctype html>
<html>
<head>
    <%- include ../common/page-title.ejs %>
    <link href="assets/css/calls.css" rel="stylesheet">
</head>
<body>
    <div class="callLoader" id="callLoader"></div>
    <%- include ../common/main-menu.ejs %>
    <div class="content">

        <div class="title cbox">
            <h1>Звонки</h1>
            <div style="display:none"><%=calls.length%></div>
        </div>

        <% if ( user.access && user.access === 'manager' ) { %>
        <div class="cbox submenu">
            <a href="/calls"
               class="subItem <%= filter === 'all' && 'subItem-active' %>">
                Все
            </a>
            <a href="/calls?filter=my"
               class="subItem <%= filter === 'my' && 'subItem-active' %>">
                Моих клиентов
            </a>

            <span class="sm-delimeter">|</span>

            <a href="/calls?filter=missed"
               class="subItem <%= filter === 'missed' && 'subItem-active' %>">
                Никто не ответил( <%= meta.missed %> )
            </a>
            <a href="/calls?filter=new"
               class="subItem <%= filter === 'new' && 'subItem-active' %>">
                Заполнить профили( <%= meta.newContacts %> )
            </a>
        </div>
        <% } %>

        <% if ( calls.length === 0 ) { %>
        <div class="call cbox">
            <div style="padding: 2rem; font-size: 28px; font-weight:100; text-align: center; color: #ccc;">
                Звонков нет
            </div>
        </div>
        <% } else { %>
            <% ( calls.length > 0 ) && calls.forEach( function (call, index) { %>
                <%- include call.ejs %>
            <% }); %>
        <% } %>
    </div>
    <link href="assets/jouele/jouele.css" rel="stylesheet"/>
    <script src="assets/jouele/jq.jplayer.js"></script>
    <script src="assets/jouele/jouele.js"></script>
    <script src="assets/js/utils.js"></script>
    <script src="assets/js/call.js"></script>
</body>
</html>